extends layout.jade

block body
  h1 New
  form(action='',method='post')
      .input-field
        input(name='reponame',id='reponame',type='text')
        label(for='reponame') Repository name
        button(class='btn waves-effect waves-light',type='submit',name='action') Create
