html
  body
    h1 Yolo
    h2 /#{root}
    ul
      each item in files
        if item.isTree()
          li: em: a(href='/tree/'+branch+'/'+item.toString()) #{item.filename()}
        else if item.isBlob()
          li: a(href='/tree/'+branch+'/'+item.toString()) #{item.filename()}
